@import "../../../data/styles.css";

.card {
	mix-blend-mode: normal;
	border-radius: 20px;
	outline: 2px solid #f4f4f5;
}

.card-container {
	padding: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.card-header {
	display: flex;
	align-items: center;
	background-color: white !important;
	border: none !important;
}

.card-icon {
	font-size: 15px;
	color: var(--tertiary-color);
}

.card-title {
	color: var(--secondary-color) !important;
	font-size: 14px !important;
	padding-top: 7px;
	padding-left: 5px;
	font-weight: 700 !important;
}

.card-body {
	padding-top: 40px;
	font-size: 15px;
}
